<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
<!-- Header -->
<%- include('./partials/header') %>
<!-- Header -->

	<!-- Banner -->
	<div class="banner">
		<img class="banner-interno" src="images/new-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title bebas-neue-regular">Novedades</h2>
            </div>
            <% if(productos && productos.length > 0){%>
                <% productos.forEach(producto=>{ %>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <section class="product-box">
                            <a href="/products">
                                <figure class="product-box_image">
                                    <img src="<%= producto.imagen_archivo%>" alt="<%= producto.nombre %>">
                                </figure>
                                <article class="product-box_data">
                                    <h2 class="bebas-neue-regular"><%= producto.nombre %></h2>
                                    <p class="poppins-regular"><%= producto.descripcion %></p>
                                    <p class="poppins-regular">Comentarios: <%= producto.comentarios %></p>
                                    <p class="poppins-regular">Publicado por: <%= producto.user.username %></p>
                                </article>
                            </a>
                        </section>
                    </div>
            <% }) %>
            <%} else{ %>
                <p>No hay productos disponibles</p>
            <% } %>

	    </div>
    </div>	
	<!-- Novedades -->

<!-- /Footer -->
<%- include('./partials/footer') %>
<!-- /Footer -->
</body>	
</html>