<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
<!-- Header -->
<% if (user) { %>
    <%- include('./partials/header-logueado') %>
<% } else { %>
    <%- include('./partials/header') %>
<% } %>
<!-- Header -->

	<div class="form-div">
		<h2 class = "products-title bebas-neue-regular">Agregar productos</h2>

		<% if (user) { %>
		<form action="/products/add" method="post" class="forms poppins-regular">

			<div class="form-label-div"> 
				<label for = "imagen_archivo" class="form-label"> Imagen: </label>
				<input type="file" id="imagen_archivo" name="imagen_archivo" accept="accept/*" placeholder="Ingresar imagen" class="input-text" value="<%= oldData ? oldData.imagen_archivo : '' %>" >
				<% if (errors && errors.imagen_archivo) { %>
					<p class="errors-message"> <%= errors.imagen_archivo.msg %></p>
				<% } %>
			</div>

			<div class="form-label-div"> 
				<label for = "nombre" class="form-label"> Nombre del producto: </label>
				<input type="text" id="nombre" name="nombre" class="input-text" value="<%= oldData ? oldData.nombre : '' %>">
				<% if (errors && errors.nombre) { %>
					<p class="errors-message"> <%= errors.nombre.msg %></p>
				<% } %>
			</div>

			<div class="form-label-div"> 
				<label for = "descripcion" class="form-label" > Descripcion del producto: </label>
				<input type="text" id="descripcion" name="descripcion" class="input-text" value="<%= oldData ? oldData.descripcion : '' %>">
				<% if (errors && errors.descripcion) { %>
					<p class="errors-message"> <%= errors.descripcion.msg %></p>
				<% } %>
			</div>
				
			<div class="form-label-div">
				<button type="submit" class="form-submit">Agregar</button>
			</div>

		</form>		
		<% } else { %>
            <p>Debes estar <a href="/login">logueado</a> para agregar un producto.</p> 
        <% } %>	
	</div>

<!-- /Footer -->
<%- include('./partials/footer') %>
<!-- /Footer -->
</body>
</html>