<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
<!-- Header -->
<%- include('./partials/header') %>
<!-- Header -->

	<div class="form-div">
		<h2 class = "products-title bebas-neue-regular">Agregar productos</h2>

		<form action="/products" method="get" class="forms poppins-regular">

			<div class="form-label-div"> 
				<label for = "imagen_archivo" class="form-label"> Imagen: </label>
				<input type="file" id="imagen_archivo" name="imagen_archivo" accept="accept/*" placeholder="Ingresar imagen" value="<%= oldData ? oldData.imagen_archivo : '' %>" >
				<% if (errors && errors.imagen_archivo) { %>
					<p class="errors-message"> <%= errors.imagen_archivo %></p>
				<% } %>
			</div>

			<div class="form-label-div"> 
				<label for = "nombre" class="form-label"> Nombre del producto: </label>
				<input type="text" id="nombre" name="nombre"  value="<%= oldData ? oldData.nombre : '' %>">
				<% if (errors && errors.nombre) { %>
					<p class="errors-message"> <%= errors.nombre %></p>
				<% } %>
			</div>

			<div class="form-label-div"> 
				<label for = "descripcion"> Descripcion del producto: </label>
				<input type="text" id="descripcion" name="descripcion"  value="<%= oldData ? oldData.descripcion : '' %>">
				<% if (errors && errors.descripcion) { %>
					<p class="errors-message"> <%= errors.descripcion %></p>
				<% } %>
			</div>
				
			<div class="form-label-div">
				<button type="submit" class="form-submit">Agregar</button>
			</div>

		</form>			
	</div>

<!-- /Footer -->
<%- include('./partials/footer') %>
<!-- /Footer -->
</body>
</html>