<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <% if (user) { %>
        <%- include('./partials/header-logueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>
    
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title bebas-neue-regular"><%= product.nombre %></h2>
            <p class="product-detail-description poppins-regular">
                <% if (locals.user && locals.user.id === product.usuario_id) { %>
                    <form action="/products/delete" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="<%= product.id %>">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                <% } %>
            </p>
        </div>

        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info poppins-regular">
                    <img class="product-detail-img" src="<%= product.imagen_archivo %>" alt="<%= product.nombre %>">
                    <p class="product-detail-description desc"><%= product.descripcion %></p>
                </article>

                <div class="col-12 col-lg-4">
                    <section class="comments poppins-regular">
                        <% if (product.comment && product.comment.length > 0) { %>
                            <% for(let i = 0; i < product.comment.length; i++) { %>
                                <article>
                                    <img src="/images/users/defaultprofile.jpg" alt="">
                                    <div class="data">
                                        <p class="user">
                                            <strong><a href="/profile/<%= product.comment[i].user.id %>"><%= product.comment[i].user.email %></a></strong>
                                            <%= product.comment[i].texto %>
                                        </p>
                                    </div>
                                </article>
                            <% } %>
                        <% } else { %>
                            <p>No hay comentarios.</p>
                        <% } %>
                    </section>
                    
                    <% if (locals.user) { %>
                        <form action="/products/<%= product.id %>/comment" method="POST" class="form poppins-regular">
                            <input type="hidden" name="product_id" value="<%= product.id %>">
                            <input type="text" name="texto" placeholder="Agregar comentario" required class="form-input">
                            <% if (errors.texto) { %>
                                <p><%= errors.texto.msg %></p>
                            <% } %>
                            <button type="submit" class="buy-now-button poppins-regular">Agregar comentario</button>
                        </form>
                    <% } else { %>
                        <p class="login-message">Debes estar <a href="/login">logueado</a> para comentar.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>
