<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
<!-- Header -->
<% if (user) { %>
    <%- include('./partials/header-logueado') %>
<% } else { %>
    <%- include('./partials/header') %>
<% } %>
<!-- Header -->

    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title bebas-neue-regular">Resultados de búsqueda para "<%= Query %>"</h2>
            </div>
            <% if (productos.length > 0) { %>
                <% productos.forEach(producto => { %>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <section class="product-box">
                            <a href="/product/<%= producto.id %>">
                                <figure class="product-box_image">
                                    <img class="product-inter" src="<%= producto.imagen_archivo %>" alt="<%= producto.nombre %>">
                                </figure>
                                <article class="product-box_data">
                                    <h2 class="bebas-neue-regular"><%= producto.nombre %></h2>
                                    <p class="poppins-regular"><%= producto.description %></p>
                                    <p class="poppins-regular">Comentarios: <%= producto.comments ? producto.comentario.length : 0 %></p>
                                    <p class="poppins-regular">Cargado por: <%= producto.user.email %></p>
                                </article>
                            </a>
                        </section>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="col-12">
                    <p class="poppins-regular">No hay resultados para su criterio de búsqueda.</p>
                </div>
            <% } %>
        </div>
    </div>

<!-- /Footer -->
<%- include('./partials/footer') %>
<!-- /Footer -->
</body>
</html>